/* You can add global styles to this file, and also import other style files */
input{
    background-color: #272727;
    color: #fff;
    border: none;
    padding: 5px 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

  .btn-dark{
      background-color: rgb(27, 27, 23);
      border: solid 3px rgb(255, 255, 255);
      font-weight: 400;
  }

  .btn-dark:hover{
        background-color: rgb(20, 20, 20);
        color: rgb(146, 146, 146);
        border: solid 3px rgb(129, 129, 129);
    }

    .btn-dark:active{
        background-color: rgb(0, 0, 0);
        border: solid 3px rgb(129, 129, 129);
    }

    .btn-dark:focus{
        background-color: rgb(0, 0, 0);
        border: solid 3px rgb(129, 129, 129);
    }

    .btn-danger{
      background-color: #aa0a0a;
      padding: 2px;
      font-size: 10px;
      margin-top: -10px;
    }